{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/tabler-ui/dist/assets/css/dashboard.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container py-5">

        <div class="row justify-content-md-center">
            <div class="col col-lg-10">

                <div class="card">
                    <div class="card-body">

                        <h1>{{ app_name }}</h1>
                        <hr>
                        <h3>{{ 'Projects' | trans }}</h3>

                        {% include 'default/flash_messages.html.twig' %}

                        {% if projects | length > 0 %}

                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <td>ID</td>
                                        <td>{{ 'Project' | trans }}</td>
                                        <td>{{ 'Status' | trans }}</td>
                                        <td>{{ 'Updated Time' | trans }}</td>
                                        <td>{{ 'Actions' | trans }}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for project in projects %}
                                        <tr>
                                            <td>{{ project.id }}</td>
                                            <td>
                                                <a href="{{ path('homepage') }}#/project/{{ project.uniqueId }}" target="_blank">
                                                    {{ project.uniqueId }}
                                                </a>
                                            </td>
                                            <td>{{ project.status }}</td>
                                            <td>
                                                {{ project.updatedAt | date("m/d/Y h:i:s") }}
                                            </td>
                                            <td class="text-center">
                                                <a href="{{ path('admin_delete_project', {id: project.id}) }}" class="text-danger" title="Delete">
                                                    <i class="fe fe-x"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            {% include 'nav/pagination_simple.html.twig' %}

                        {% else %}
                            <div class="alert alert-info my-7">
                                {{ 'Empty' | trans }}.
                            </div>
                        {% endif %}

                        <hr>
                        <a href="{{ path('homepage') }}">{{ 'Home page' | trans }}</a>
                        &nbsp;&bull;&nbsp;
                        <a href="{{ path('app_profile') }}">{{ 'Profile' | trans }}</a>
                        &nbsp;&bull;&nbsp;
                        <a href="{{ path('app_logout') }}">{{ 'Log Out' | trans }}</a>

                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}
