<div class="position-fixed" style="top: 15px; right: 25px;" *ngIf="displayLanguageSwitch">
    <ng-container *ngFor="let language of languages">
        <div class="d-inline-block ml-3" *ngIf="locale != language.code">
            <a class="text-white" href="#" (click)="switchLocale(language.code, $event)">
                <i [class]="'flag ' + language.icon"></i>
                {{ language.name }}
            </a>
        </div>
    </ng-container>
</div>

<router-outlet></router-outlet>
