<div class="modal-header">
    <h4 class="modal-title pull-left">{{ 'EDIT' | translate }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()"></button>
</div>
<div class="modal-body">

    <div class="card card-body mb-4 p-3" *ngIf="isExtendMode">
        <div class="row">
            <div class="col-4">
                <label class="d-block">{{ 'SLIDE_DURATION' | translate }}:</label>
                <div>
                    <select class="form-control form-control-sm" [(ngModel)]="options.duration">
                        <option value="100">4</option>
                        <option value="150">6</option>
                        <option value="200">8</option>
                        <option value="250">10</option>
                        <option value="300">12</option>
                        <option value="350">14</option>
                        <option value="400">16</option>
                        <option value="450">18</option>
                        <option value="500">20</option>
                        <option value="625">25</option>
                        <option value="750">30</option>
                    </select>
                </div>
            </div>
            <div class="col-4">

                <label class="d-block">{{ 'OVERLAY_TEXT_POSITION' | translate }}:</label>
                <div>
                    <select class="form-control form-control-sm" [(ngModel)]="options.text_position">
                        <option value="top_left">{{ 'TOP_LEFT' | translate }}</option>
                        <option value="top_center">{{ 'TOP_CENTER' | translate }}</option>
                        <option value="top_right">{{ 'TOP_RIGHT' | translate }}</option>
                        <option value="bottom_left">{{ 'BOTTOM_LEFT' | translate }}</option>
                        <option value="bottom_center">{{ 'BOTTOM_CENTER' | translate }}</option>
                        <option value="bottom_right">{{ 'BOTTOM_RIGHT' | translate }}</option>
                    </select>
                </div>

            </div>
            <div class="col-4">

                <label class="d-block">{{ 'SLIDE_TRANSITION' | translate }}:</label>
                <div>
                    <select class="form-control form-control-sm" [(ngModel)]="options.transition">
                        <option value="fade">{{ 'FADE' | translate }}</option>
                        <option value="wipe__linear_x">{{ 'WIPE_LEFT' | translate }}</option>
                        <option value="wipe__clock">{{ 'CLOCK' | translate }}</option>
                        <option value="wipe__radial-bars">{{ 'RADIAL_BARS' | translate }}</option>
                        <option value="wipe__cloud">{{ 'CLOUD' | translate }}</option>
                        <option value="wipe__spiral">{{ 'SPIRAL' | translate }}</option>
                        <option value="wipe__checkerboard_small">{{ 'CHECKERBOARD' | translate }}</option>
                    </select>
                </div>

            </div>
        </div>
    </div>

    <div class="card card-body mb-4 p-3">
        <div class="row">
            <div class="col-6">
                <label class="custom-switch">
                    <input type="checkbox" name="edit_mode" value="1" class="custom-switch-input" [checked]="isEditMode"
                           [ngModel]="isEditMode" (ngModelChange)="onModeChange($event)">
                    <span class="custom-switch-indicator"></span>
                    <span class="custom-switch-description">
                                {{ 'EDIT_MOTION' | translate }}
                            </span>
                </label>
            </div>
            <div class="col-6">
                <div *ngIf="isEditMode">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="fieldPosition1" name="position" class="custom-control-input"
                               value="from" [checked]="position == 'from'" [ngModel]="position"
                               (ngModelChange)="onPositionChange($event)">
                        <label class="custom-control-label" for="fieldPosition1">
                            {{ 'POSITION_FROM' | translate }}
                        </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="fieldPosition2" name="position" class="custom-control-input" value="to"
                               [checked]="position == 'to'" [ngModel]="position"
                               (ngModelChange)="onPositionChange($event)">
                        <label class="custom-control-label" for="fieldPosition2">
                            {{ 'POSITION_TO' | translate }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <angular-cropper
        [cropperOptions]="cropperOptions"
        [imageUrl]="imageUrl"
        (ready)="onCropperReady($event)"
        #angularCropper></angular-cropper>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save($event)">{{ 'SAVE' | translate }}</button>
    <button type="button" class="btn btn-default" (click)="close($event)">{{ 'CLOSE' | translate }}</button>
</div>
