<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    <base href="{{ app.request.baseUrl }}/">

    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('site.webmanifest') }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {% block stylesheets %}{% endblock %}

</head>
<body class="app-bg">

{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block advertisement %}
    <div style="text-align: center; margin: 0 0 30px 0;">
        <!-- Your banner ad code is here -->
        <!--a href="#" target="_blank">
            <img src="/assets/img/468x60.gif" width="468" height="60" alt="">
        </a-->
    </div>
{% endblock %}

</body>
</html>
