<div class="dimmer" [ngClass]="{'active': loading}">
    <div class="loader"></div>
    <div class="dimmer-content">
        <div class="my-5 text-center">
            <input type="file" class="d-none" accept="image/*" multiple #fileInput (change)="onFileSelect()">
            <button type="button" class="btn btn-pill btn-success btn-lg"
                    (click)="selectFiles($event)"
                    (drop)="dropHandler($event)"
                    (dragover)="dragOverHandler($event);">
                {{'SELECT_PHOTOS' | translate}}
            </button>

            <ng-container *ngIf="files.length > 0">
                <div class="pt-5">
                    {{'SELECTED_FILES' | translate}}: {{files.length}}
                </div>
                <div class="pt-5">
                    <button type="button" class="btn btn-pill btn-primary btn-lg" (click)="uploadFiles()">
                        {{'UPLOAD_PHOTOS' | translate}}
                    </button>
                    <button type="button" class="btn btn-pill btn-secondary btn-lg ml-3" (click)="clearFiles()">
                        {{'CANCEL' | translate}}
                    </button>
                </div>
            </ng-container>

            <div class="pt-5" [hidden]="!isSampleVideoVisible" *ngIf="displayHomepageVideo">
                <div class="bg-dark">
                    <video class="d-block" src="/assets/video/slideshow-sample.mp4" controls style="width: 100%; height: 408px;" #sampleVideo></video>
                </div>
                <div class="position-relative">
                    <div class="position-absolute" style="top: -390px; right: 15px;">
                        <button type="button" class="btn btn-pill btn-secondary btn-lg" (click)="sampleVideoHide($event)">
                            {{'HIDE' | translate}}
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-5 pt-5 text-black-50" *ngIf="displayHomepageFeatures">
            <div class="col-md-4 mb-3">
                <div class="text-center">
                    <div class="mb-2">
                        <i class="fe fe-watch font-big"></i>
                    </div>
                    <h4>{{'FAST' | translate}}</h4>
                    <div>
                        {{'FAST_DESC' | translate}}
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="text-center">
                    <div class="mb-2">
                        <i class="fe fe-shield font-big"></i>
                    </div>
                    <h4>{{'SAFELY' | translate}}</h4>
                    <div>
                        {{'SAFELY_DESC' | translate}}
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="text-center">
                    <div class="mb-2">
                        <i class="fe fe-thumbs-up font-big"></i>
                    </div>
                    <h4>{{'FREE' | translate}}</h4>
                    <div>
                        {{'FREE_DESC' | translate}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>